<template>
    <div class="container">
        <h1>User Manager Demo</h1>

        <p>
            <router-link :to="{ name: 'users'}">View All Users</router-link>
            |
            <router-link :to="{ name: 'createUser'}">Create User</router-link>
        </p>

        <hr />

        <router-view />
    </div>
</template>

<script>
    export default {};
</script>

