<template>
    <div>
        <h2>Create User</h2>

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" maxlength="255" v-model="user.username" class="form-control">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" maxlength="255" v-model="user.email" class="form-control">
        </div>

        <div class="form-group">
            <label for="role">Role</label>
            <select id="role" v-model="user.user_roles_id" class="form-control">
                <option v-for="role of roles" :value="role.id">
                    {{ role.label }}
                </option>
            </select>
        </div>

        <div class="form-group">
            <button @click="save" class="btn btn-primary">Create User</button>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                roles: [],
                user: {}
            };
        },

        async created() {
            const response = await axios.get(`/api/v1/roles`);
            this.roles = response.data;
        },

        methods: {
            async save() {
                try {
                    await axios.post(`/api/v1/users`, this.user);
                    this.$router.push({ name: 'users' });
                } catch (e) {
                    alert(e.response.data.message);
                }
            },
        }
    };
</script>
