<template>
    <div>
        <h2>Edit User</h2>

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" maxlength="255" v-model="user.username" class="form-control">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" maxlength="255" v-model="user.email" class="form-control">
        </div>

        <div class="form-group">
            <label for="role">Role</label>
            <select id="role" v-model="user.user_roles_id" class="form-control">
                <option v-for="role of roles" :value="role.id">
                    {{ role.label }}
                </option>
            </select>
        </div>

        <div class="form-group">
            <button @click="save" class="btn btn-primary">Save User</button>
            <button @click="destroy" class="btn btn-danger">Delete User</button>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        props: {
            id: {
                type: Number,
                required: true
            }
        },

        data() {
            return {
                roles: [],
                user: {
                    user_roles_id: 0,
                    username: '',
                    email: '',
                }
            }
        },

        async created() {
            const [roles, user] = await Promise.all([
                axios.get(`/api/v1/roles`),
                axios.get(`/api/v1/users/${this.id}`)
            ]);

            this.roles = roles.data;
            this.user = user.data;
        },

        methods: {
            async save() {
                try {
                    await axios.put(`/api/v1/users/${this.id}`, this.user);
                    this.$router.push({ name: 'users' });
                } catch (e) {
                    alert(e.response.data.message);
                }
            },

            async destroy() {
                if (confirm('Do you really want to delete this user?')) {
                    await axios.delete(`/api/v1/users/${this.id}`);
                    this.$router.push({ name: 'users' });
                }
            }
        }
    };
</script>
