<template>
    <div>
        <h2>Users</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="user of users">
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role.label }}</td>
                    <td>{{ user.created_at }}</td>
                    <td>{{ user.updated_at }}</td>
                    <td>
                        <router-link :to="{ name: 'viewUser', params: { id: user.id } }">View</router-link>
                        |
                        <router-link :to="{ name: 'editUser', params: { id: user.id } }">Edit</router-link>
                    </td>
                </tr>
                <tr v-if="loading">
                    <td colspan="7">Loading...</td>
                </tr>
                <tr v-if="!loading && !users.length">
                    <td colspan="7">No users to display</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                loading: true,
                users: []
            }
        },

        async created() {
            const response = await axios.get('api/v1/users');
            this.users = response.data;
            this.loading = false;
        }
    };
</script>
