<template>
    <div>
        <h2>View User</h2>

        <h3>User</h3>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
            </thead>
            <tbody>
            <tr v-if="!loading">
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.created_at }}</td>
                <td>{{ user.updated_at }}</td>
            </tr>
            <tr v-if="loading">
                <td colspan="5">Loading...</td>
            </tr>
            </tbody>
        </table>

        <h3>Addresses</h3>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Address</th>
                <th>Province</th>
                <th>City</th>
                <th>Country</th>
                <th>Postal Code</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="address of addresses">
                <td>{{ address.id }}</td>
                <td>{{ address.address }}</td>
                <td>{{ address.province }}</td>
                <td>{{ address.city }}</td>
                <td>{{ address.country }}</td>
                <td>{{ address.postal_code }}</td>
            </tr>
            <tr v-if="loading">
                <td colspan="6">Loading...</td>
            </tr>
            <tr v-if="!loading && !addresses.length">
                <td colspan="6">No addresses</td>
            </tr>
            </tbody>
        </table>

        <p>
            <router-link :to="{ name: 'editUser', params: { id: this.id } }" class="btn btn-primary">
                Edit User
            </router-link>
        </p>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        props: {
            id: {
                type: Number,
                required: true
            }
        },

        data() {
            return {
                loading: true,
                user: {},
                addresses: []
            };
        },

        async created() {
            const [user, addresses] = await Promise.all([
                axios.get(`/api/v1/users/${this.id}`),
                axios.get(`/api/v1/addresses?userId=${this.id}`)
            ]);

            this.user = user.data;
            this.addresses = addresses.data;
            this.loading = false;
        }
    };
</script>

